div{
    color: rgb(255, 187, 0);
    margin: 10px;
}
h1{
    color: green;
}
.naa{
    color: darkred;
}
p{
    background-color: blue;
    font-size: 20px;
    color: darkred;
    padding-left: 10px;
}
.img{
    width: 700px;
    display: block;
    margin:0 auto;
}
.img1 {
    margin-top: 20px;
    width: 200px;
    display: block
    margin: 20px auto;
}
section{
    display: flex;
    margin: 0px auto;
}
body{
    background-image: url(./img/th\ \(2\).jfif);
}
nav{
    background-color: brown;
    height: 80px;
    width: 100%; 
}
nav u1{
    float; right: ;
    margin-right: 20px;
}
nav u1 li{
    display: inline;
    margin: 5px;
    line-height: 80px;
}
nav u1 li a {
    color: deeppink;
    padding: 5px;15px ;
    text-decoration:none;
    text-transform:none
    border-radius:20px
}
a :hover{
    color: chartreuse;
    background: black;
    transition: ;
}
.logo{
    width: 50px;
}