nav{
    background-color: rgb(42, 95, 165);
    height: 80px;
    width: 100%; 
}
nav u1 {
    float:right;
    margin-right:50px ;
    color: deeppink;
    padding: 5px;15px ;
    text-decoration:none;
    text-transform:none
    border-radius:20px
}
nav u1 li{
    display: inline;
    margin: 0 5px;
    line-height: 80px;
}
nav u1 a{
    color:red;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius:20px ;
}
a:hover{
    color:rgb(90, 60, 60);
    background-color:rgb(255, 255, 255);
    transition:. 5s;
}
.logo{
    width: 100px;
    margin-left: 50px;
}